.navbar-inverse{
  border-radius: 0px;
}

.myangular{
  font-family: 'Century Gothic';
  font-size: 25px;
  color:  #1E90FF;
}

.right-menu {
  float:right;
}

.navbar-nav {
  font-family: 'Century Gothic';
  font-size: 20px;
  color: #1fa67b;
}

.welcome {
  text-align: center;
  margin-top: 150px;

}

.alert-info {
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.myemail {
  text-align: center;
}

.mypassword {
  text-align: center;
}