<div class = "container">
	<div class="wrapper">
		<form name="Login_Form" class="form-signin" id="login_register_form">       
		    <h3 class="form-signin-heading">Welcome! Please Sign In</h3>
			  <hr class="colorgraph"><br>  
			  <input type="text" class="form-control" placeholder="Email" ng-model="email" />
			  <input type="password" class="form-control" placeholder="Password" ng-model="password"/>     		  
			  <button class="btn btn-lg btn-primary btn-block"  id="login_bouton_login" ng-click="login(email,password)" type="Submit">Login</button>
			   <button class="btn btn-lg btn-primary btn-block"  id="login_bouton_login" type="reset">Reset</button>   			
		</form>			
	</div>
</div>
